/* proprietà generali */
*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Whitney', Helvetica, Helvetica, Arial, sans-serif;
}

/* regole barra di navigazione in alto */
#navbar{
    height: 80px;
    background-color: #3161E0;
}

#navbar, #flex-content{
    display: flex;
    justify-content: center;
    align-items: center;
}


ul.nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

/* definizione colonne */
.col-nav{
    min-width: 250px;
    min-height: 30px;
    line-height: 25px;
}

div.col-nav a img{
    margin: 20px 0;
}

.center{
    /* Debug */
    min-width: 600px;
}

li a{
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 20px;

}

#login {
    text-align: right;
}

/* proprietà parte centrale */

/* rettangoli */
div.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron{
    height: 450px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

/* colore solo per le righe dispari */
div.row:nth-child(odd){
    background-color: #D3D3D3;
}

#start{
    background-color: #00008B;
}

/* box per il testo iniziale della prima parte */
.text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 50%;
}

/* proprietà testo jumbotron */
.text-content{
    /* debug */
    text-align: center;
    color: white;
    line-height: 30px;
    /* background-color: #EE82EE;  */
    /* border:rgb(120, 48, 120) 2px dashed; */
    /* margin: 45px 0; */
}

.jumbo-paragraph{
    font-size: 20px;
    margin: 20px 0;
}

h1{
    font-size: 50px;
    margin: 20px 0;
    padding: 10px;
}

/* box immagini */

figure.image, aside.text, .box{
    margin: 45px 0;
}

div.box-row{
    display:flex;
    justify-content: center;
}

figure.image{
    /* debug */
    min-height: 400px;
    min-width: 700px;
    background-color: #1E90FF;
    border: rgb(120, 48, 120) 2px dashed;
}

/* box testo affiancato a immagini */
aside.text{
    /* debug */
    min-height: 400px;
    min-width: 400px;
    background-color: #FFC0CB;
    border: rgb(120, 48, 120) 2px dashed;
}

/* parte con immagine e testo in basso */

div.box-row{
    background-color: #D3D3D3;
}

.box{
    /* debug */
    min-width: 1100px;
    min-height: 800px;
    background-color:#228B22;
}

/* regole parte footer */

footer{
    background-color:#23272A;
}

/* regole del contenuto social e contenuto informativo */
aside.sidebar,
#nav-footer{
    margin-top: 10px;
    margin-bottom: 25px;
    /* debug */
    min-height: 600px;
}

div.flex-footer{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

aside.sidebar{
    display: flex;
    /* debug */
    min-width: 300px;
    background-color: #F08080;
    border: rgb(120, 48, 120) 2px dashed;
}

#nav-footer{
    display: flex;
    /* debug */
    min-width: 800px;
    border:rgb(120, 48, 120) 2px dashed;
}

div.col-footer{
    width: calc(100% / 4);
    /* debug */
    background-color: #20B2AA;
    border: rgb(255, 255, 255) 2px dashed;
}

/* regole per logo e bottone finale */

#navbar-footer{
    display: flex;
    justify-content: center;
    /* debug */
    height: 100px;
}

#nav-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* debug */
    background-color: #7FFFD4;
    margin: 20px 0;
    min-width: 1100px;
}

.item-footer{
    padding: 8px 16px;
    /* debug */
    background-color: #FFB6C1;
    border:rgb(120, 48, 120) 2px dashed;
}

/* regole per pulsanti */

button {
    border-radius: 60px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

div.btn-container{
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

div.btn-container > button {
    margin: 0 10px;
}

.btn-input{
    background-color: white;
}

.btn-text-input{
    font-size: 16px;
}

.btn-open{
    background-color: black;
    color: white;
}


