/* proprietà generali */
*{
    margin:0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Whitney', Helvetica, Helvetica, Arial, sans-serif;
}

.container, .container-main, .container-nav{
    margin: 0 auto;
    width: 80%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main{
    display: flex;
    justify-content: center;
        
}

/* regole barra di navigazione in alto */
#navbar{
    height: 80px;
    background-color: #23272A;
}

#navbar, #flex-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul.nav-list{
    display: flex;
    justify-content: center;
    padding: 0;
}

/* definizione colonne barra di navigazione in alto e contenuto */
.col-nav{
    line-height: 25px;
}

li a{
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 20px;

}

#login {
    text-align: right;
}

/* proprietà parte jumbotron */

.jumbotron{
    height: 100%;
    background-color: #23272A;
    background-size: cover;
}

.jumbotron img{
    width: 50%;
}

/* box per il testo iniziale della prima parte */
.text-box{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 8% auto;
}

/* proprietà testi jumbotron e pulsanti */
.text-content{
    text-align: left;
}

span.text-content-white{
    margin: 10px;
}

.text-content-white{
    color: white;
}

.paragraph{
    font-size: 20px;
    margin: 20px 0;
    line-height: 30px;
}

h1{
    font-size: 50px;
    font-weight: 800;
    margin: 20px 0;
    padding: 10px;
}

/* parte con box downolad prodotti */

div.box-row {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    /* debug */
    /* height: 1900px; */
}

/* box prodotti */
div.col-box{
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0;

}

.box-big{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10px;
    border-radius: 20px;
}

.box-big img{
    width: 80%;
    margin-top: 30px;
}

.box-null{
    height: 150px;
}

.box-content{
    text-align: center;
    margin: 20px;
}

.text-box-small{
    text-align: left;
    padding: 8px;
}

/* regole parte footer */

footer{
    background-color:#23272A;
}

/* regole del contenuto social, intestazioni e contenuto informativo */

h2 {
    font-size: 30px;
    margin: 20px 0;
}

div.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

aside.sidebar{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    margin: 10px 25px 0 0;
}

div.language img{
    width: 20px;
}

#social a{
    margin: 20px 25px 0 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}

#sidebar-text{
    color: #8EA1E1;
    font-weight: 800;
}

div.language, div.social{
    color: white;
}

#nav-footer{
    display: flex;
    margin: 40px 20px 20px 0;
}

h4{
    color:#8EA1E1;
    margin-left: 20px;
}


div.col-footer{
    padding: 0 20px;
}

/* regole per logo e bottone finale */

#navbar-footer{
    display: flex;
    justify-content: center;
}

#nav-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #8ea1e1;
    padding: 20px 0;
}

ul.footer-object li{
    line-height: 40px;
    color: white;
}

/* regole per pulsanti */

button {
    border-radius: 60px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

div.btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
}

div.btn-container > button {
    margin: 0 10px;
}

.btn-input{
    background-color: white;
}

.btn-input:hover{
    background-color:#8ea1e1;
    color: white;
}

.btn-text-input{
    font-size: 20px;
}

.btn-open-big, .btn-open{
    background-color: black;
    color: white;
}

.btn-open-big{
    padding: 20px 30px;
}

.btn-text-bottom {
    font-size: 20px;
    padding: 10px;
}

.btn-open:hover, .btn-open-big:hover{
    background-color: white;
    color: black;
}

div.btn-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.btn-download{
    background-color:#255EE9;
    color: white;
}

.btn-big{
    padding: 15px 35px;
    font-size: 20px;
}

.btn-open i{
    padding: 0 10px;
}

.btn-download i{
    padding-right: 10px;
}

.btn-download:hover{
    background-color:#8EA1E1;
    color:white;
}

/* transition */

.btn-input, .btn-download, .btn-open, .btn-open-big{
    transition: 0.3s;
}

/* Scritta sottolineata quando il cursore punta sull'oggetto */

li a:hover{
    text-decoration:underline;
}

